<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuuQWq07L5d78qCOinKmXqxbb8Ro_CQtM</string>
	<key>GCM_SENDER_ID</key>
	<string>718420727642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.irsAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>irs-capstone</string>
	<key>STORAGE_BUCKET</key>
	<string>irs-capstone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718420727642:ios:042b9a7b59314533b24563</string>
</dict>
</plist>